@charset "UTF-8";
body{
    background-image : url("2.gif");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; 
}

p{
    color : #faebd7;
    font-size : 20px;  
}

.h{
    text-align : center;
    font-size : 110px;
    
    letter-spacing: 90px;
    font-family: 'Indie Flower', cursive;
    padding-top: 0px;   
}

#score{
    text-align : center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bolder;
    color: #4BAEAD;
    position: absolute;
    right: 35%;
    top: 20%;
}

#size-bloc{
    margin-left: -50px;
    padding-left: 35%;
    margin-top: 2px;
}

#size-title{
    float : left;
    color: #000000;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size : 15px; 
}

#size{
    width: 50px;
    margin-left: 10px;
    margin-bottom: 2%;
    border-radius : 2px;
    color: #000000;
    text-align :center;
    font-weight: bold;
    background-color:#ffffff;
    border:#0e3920;    
}

#change-size{
    
   
    font-weight: bold;
    border:#0e3920;
    background-color:#000000;
    color: #ffffff;
}

#change-size:hover {
    background-color:#ffffff;
    
    color:#000000;    
}

#canvas-bloc{
   
    padding-right: 50%;  
}

#restart {
    color: #000000;
    margin-left: 3%;
    text-align: center;
    font-weight: bold;
    background-color:#ffffff;
    border:#0e3920;   
}

#restart:hover {
    background-color:#000000;
    border: #0e3920;
    color:#ffffff;  
}

#copyright{
    display: block;
    float: right;
    padding-top: 30px;
    padding-right: 80px;
    color: #000000;
}

div.h span.deux{
    color : #4BAEAD;
}

div.h span.zero{
    color : #12B134;
}

div.h span.quatre{
    color : #7B56A4;
}

div.h span.huit{
    color : #E1DA39;
}
