@charset "UTF-8";
@font-face {
 font-family: "selimaregular";
 src: url("selima.otf");
       
}

/* code couleur: #44811A*/

html,body {
    padding: 0;
    margin: 0;
}

body{
    font-family: Raleway, sans serif;
    overflow-x:hidden;  
}

a:hover{
    text-decoratoin:none;
}

.container-fluid{
    padding: 0;
}

/* HEADER */
.header{
    background-color:#ffffff;
    height:70px;
    line-height: 70px;
    
}

/*NAVBAR*/
.logo{
   
    
    float: left;
}

.menu{
    float: right;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.menu a{
    color: #000000;
    margin-right: 50px;
    margin-left: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 16px;
}

.menu a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #44811A;
    padding: 16px;
  
}

/*CAROUSEL*/

.carousel-inner img {
      width: 100%;
      height: 360px;
  }
  
.carousel-container {
    padding: 0;
}
 
.carousel,.item,.active {
    height:350px;
    width:100%;
    position: relative;
 
}
.carousel-inner {
    height: 550px;
}
 
.fill {
    width:100%;
    height: 50%;
    background-position:center;
    background-size:cover;
    margin: 0;
}
/* NOTRE COLLECTION*/
.titre1{
    margin-top: 7%;
    margin-left: 9%;
    font-family: 'Indie Flower', cursive;
   
}
.titre2{
    margin-top: 3%;
    margin-left: 38%;
    font-family: 'selimaregular',serif;
    font-size: 55px;
    color: #161b1f;
    text-transform: none;
    font-weight: 400;
    line-height: 1em;
    background-image: url('image/petitefeuille2.jpg');
    background-repeat: no-repeat;
    background-position: 269px -8px;
    background-size: 80px;
    
}

/* PRODUITS */
.produits{
    margin-top: 3%;
    margin-bottom: 0;
    
}

.boxarticles{
    border: 1px solid #CCC;
    border-radius: 2px;
    width: 200px;
    height: 335px;
    background-color: #ffffff;
    box-shadow:  0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    font: inherit;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;   
}

.boxarticles img{
    margin-bottom: 5%;
}

.boxarticles:hover{
   -ms-transform: scale(1.5); /* IE 9 */
   -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.05); 
   cursor: pointer;
  
}

.monbouton{
    background-color: #44811A;
    border: #44811A ;
    margin-left: 7%;
    width: 160px;
}
.monbouton:hover{
    background-color: #44811A;
    border: #44811A ;
    width: 160px;
    margin-left: 7%;
}


.allp{
    font-family: 'Gloria Hallelujah', cursive;
   font-weight: bold;
}

.prix{
    font-family: 'Patrick Hand', cursive;
    
}

blockquote {
    background: #4f8c00;
    border-radius: 5px;
    margin-left: 29%;
    padding-top: 20px;
    width: 700px;
    height: 180px;
 
}

.unop1 {
    padding-left: 20px;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    font-weight: bold;
}

.unop2 {
    padding-left: 20px;
    font-family: 'Gaegu', cursive;
    font-size: 25px;
}

.logoab{
    position: absolute;
    margin-left: 73%;
    margin-top: 2%; 
}

.logoab img{
    width: 200px;
    height: 120px;   
}

.logobio2{
    position: absolute;
    margin-left: 63%;
    margin-top: 2%;   
}

.logobio2 img{
    width: 120px;
    height: 120px;
    
}
/* FOOTER*/
.footerpage{
    width:100%;
    margin-top: 3%;
    background-color:#000000;
}
.dernier{
    margin-left: 7%;
    padding-top: 2%;
    padding-bottom:2%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: grey;
   
}

#secu{
    width:170px;
    height:160px;
}
#livraison{
    width:170px;
    height:160px;
}
#expedition{
    width:170px;
    height:160px;
}
#satisfait{
    width:170px;
    height:160px;
}